section.footer {
    background: $black;
    padding: 15px 20px;
    color: $white;

    .Collapsible__trigger {
        font-family: Pacifico;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 10px 0;

        &:after {
            content: '+';
            font-size: 20px;
            font-family: Lato;
            font-weight: 700;
            color: $white;
            position: absolute;
            right: 10px;
            top: 10px;
            display: block;
            transition: transform 300ms; 
        }
        &.is-open:after {
            content: '-';
        }
    }

    ul.footer-link-list {
        list-style: none;
        padding: 10px 0;

        li {
            line-height: 30px;

            a {
                color: $white;

                &:hover {
                    color: darken($white, 20%);
                }
            }
        }
    }

    .footer-socials {
        margin-top: 15px;

        h2 {
            font-family: Pacifico;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
        }

        .footer-socials-container {
            display: flex;
            justify-content: space-between;
            width: 150px;
            padding: 10px 0;
        }
    }

    @media (min-width: $small) {
        display: flex;
        padding: 50px;

        .Collapsible {
            display: inline-block;
            width: 20%;

            .Collapsible__trigger::after {
                display: none;
            }
            .Collapsible__contentOuter {
                height: auto !important;
            }
        }

        ul.footer-link-list li {
            line-height: 40px;
        }

        .footer-socials {
            margin: 5px 0 0 auto;

            .footer-socials-container {
                margin-top: 10px;
            }

            img:hover {
                opacity: 0.7;
            }
        }
    }
}